@model IEnumerable<Shared.AlbumDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Albums</h2>
@if (Model == null || !Model.Any())
{
    <p>There are no albums yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Release Date</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var albumDto in Model)
        {
            <tr>
                <td>@albumDto.Name</td>
                <td>@albumDto.ReleaseDate.ToString("dd/MM/yyyy")</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Albums", new { id = albumDto.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", "Albums", new { id = albumDto.Id }, null)
                </td>
            </tr>
        }
        </tbody>
    </table>
}


