@model IEnumerable<Shared.AlbumDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Albums</h2>
@if (Model == null)
{
    <p>There are no albums yet.</p>
}

else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Artist ID</th>
            <th>Album</th>
            <th>Release Date</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var albumDto in Model)
        {
            <tr>
                <td>@albumDto.ArtistId</td>
                <td>@albumDto.Name</td>
                <td>@albumDto.ReleaseDate</td>
            </tr>
        }
        </tbody>
    </table>
}


